.home {
    margin: 40px 0px;
  }
  
  thead{
    border: 1px solid #ddd;
    padding: 5px 2px;
    background-color: #249558;
    color: #fff;
  }

  thead tr th,
  tr td{
    padding: 10px 4px;
    border: 1px solid #ddd;
  }

  .tfoot{
    padding-top: 60px !important;
  }

  .order_head{
    background-color: #72b3905b;
    border-radius: 5px 5px 0 0;
    padding: 20px 0;
  }